* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1% 0;
  background-color: #6c7a89;
}
 
header {
  background-color: #e8ecf1;
  padding: 6% 0;
  min-height: 400px;
  align-self: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 200px; 
  background-color: #abb7b7;
}
  
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 200px; 
  background-color: #bfbfbf; 
}

  /* Clear floats after the columns
.row:after {
  display: table;
  clear: both;
} */


@media screen and (max-width: 600px) {
  .column1, .column2 {
    width: 100%;
 }
}
